.auth-container {
  background-color: transparent;
  align-self: stretch;
}

.text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-family: 'Poppins-Bold', sans-serif;
  transition: transform 0.5s ease-in-out;
}

.form-section {
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), -6px 0 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.5s ease-in-out;
}

a {
  color: var(--bs-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .custom-rounded {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0;
  }
}
